body {
  text-align: center;
<<<<<<< 822b414df012784689e571dab6186b9ce968b386
=======
  background-image: url("RoysPeak.jpg"), url("Petra.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 45% auto;
  background-position: bottom right, left, right;
  height: 1000px;
  /*width: 60%;*/
  /*width: 100vw;*/
  margin: 10px;
>>>>>>> update
}
h1 {
  color: white;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: black;
  /*background-color: white;*/
}

ul {
  list-style: none;
  display: inline-block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}


#linkedin, #github {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

li, a {
  display: inline;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

img {
  border-radius: 10%;
  border: solid black 30px;
  height: 250px;
  width: 150px;
  background-color: white;
  position: relative;
  left: 100px;
  top: 100px;
}

<<<<<<< 822b414df012784689e571dab6186b9ce968b386
=======
img:hover {
  height: 500px;
  width: 500px;

}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

img, a {
  top: 100px;
  left: 200px;
}

#container:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

>>>>>>> update
p, h2 {
  color: white;
}


<<<<<<< 822b414df012784689e571dab6186b9ce968b386
=======

>>>>>>> update
/*@media query*/
